Movie/WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/storage.ide-wal
Movie/WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/storage.ide-shm
Movie/WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/db.lock
